/*
 * Base structure
 */
.overviewImg:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.22);
}
pre{
    font-family: consolas;
}
.overviewImg {
    transition: box-shadow 0.2s;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: no-repeat center;
    background-size: 95%;
    margin: 0 0 10px;
    cursor: pointer;
}

#presets a {
    border-left: solid #666 1px;
    padding: 0 10px;
}

#presets a.first {
    border-left: none;
}

#keyword {
    width: 300px;
}

#fetcher {
    width: 500px;
}

#keyword,
#go {
    font-size: 1.5em;
}

#text {
    width: 100%;
    height: 100px;
}

p.copy {
    font-size: small;
}

#form {
    font-size: small;
    position: relative;
}

div#vis {
    padding-left: calc(50% - 480px);
}

hr {
    border: none;
    border-bottom: solid #ccc 1px;
}

a.active {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    cursor: text;
}

#angles line,
#angles path,
#angles circle {
    stroke: #666;
}

#angles text {
    fill: #333;
}

#angles path.drag {
    fill: #666;
    cursor: move;
}

#angles {
    text-align: center;
    margin: 0 auto;
    width: 350px;
}

#angles input,
#max {
    width: 42px;
}

#form {
    display: none;
}

/* Move down content because we have a fixed navbar that is 50px tall */

#lijst {
    list-style: none;
    margin-left: -40px;
    margin-bottom: 0;
}

a.rightactor {
    float: right;
}

#actorName > span {
    font-size: 20px;
    font-weight: bolder;
}

span.rightactor {
    float: right;
}

#frieseActorName {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 5px;
    color: black;
}

.background-image {
    background: url(../img/flag.svg) no-repeat center;
    background-size: cover;
    -webkit-filter: grayscale(50%);
    width: 100%;
    height: 100%;
    position: fixed;
    margin-left: -62px;
    margin-top: -27px;
}

body {
    padding-top: 50px;
}

#mapContainer {
    width: 100%;
    height: 100%;
}

iframe {
    border: none;
    width: 100%;
    height: 79%;
}

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */

.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */

.nav-sidebar {
    margin-right: -21px;
    /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

/*
 * Main content
 */

.main {
    padding: 20px 20px 80px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}

.question {
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    color: rgb(86, 95, 103);
    position: fixed;
    bottom: 15px;
    width: 50%;
    font-weight: bolder;
}

.question p {
    padding: 14px;
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    height: 50px;
}

.text-answer {
    margin-top: 50px;
    font-size: 18px;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

a:hover {
    cursor: pointer;
}

.sub-menu {
    list-style-type: none;
    margin-left: -10px;
}

.navbar-inverse {
    /* border: #bb7878; */
    border-bottom: 5px solid #a52b2b;
    background: #ce2525 none;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #b93939;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #b93939;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar-inverse .navbar-brand:hover {
    color: #ffffff;
}

a {
    color: #5e6469;
    text-decoration: none;
}

a:focus,
a:hover {
    color: #481a1b;
    text-decoration: underline;
}

.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
    color: #481919;
    background-color: transparent;
}
